/* components/expand-member-list/index.wxss */

@import '../../style/common.less';

.container {
  position: relative;
  height: calc(75vh - env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  border-radius: 12px 12px 0px 0px;
  background: var(--bg-5, #FFF);
}

.scrollable {
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
}

.item {
  display: inline-block;
  width: 52px;
  margin-right: 28px;
}

.avatar {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  background-color: #F7F7F7;
}

.nickname {
  margin-top: 7px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.90);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.identity {
  margin-top: 4px;
  border-radius: 3px;
  border: 0.5px solid #6CCEA2;
  padding: 1px 2px;
  color: #6CCEA2;
  font-size: 8px;
  font-weight: 400;
  line-height: normal;
}

.bar-wrap {
  height: 28px;
}

.bar {
  width: 40px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}

.title {
  margin: 20px 0;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

.grid {
  display: grid;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(52px, 1fr));
}


.load-more {
  padding: 24px 0;
  
  .tip--loading {
    --td-loading-color: rgba(0, 0, 0, 0.3);
    --td-loading-text-font-size: 17px;
    --td-loading-text-color: rgba(0, 0, 0, 0.3);	
    line-height: 1.4 !important;
  }

  .tip--nomore {
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}