.scrollable {
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  background: linear-gradient(157deg, #904DFF 0%, #4322F4 80.49%);
  padding-bottom: calc(env(safe-area-inset-bottom) + 56px);
}

.tip-1 {
  color: rgba(255, 255, 255, 0.60);
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
}

.scroll-item {
  margin-bottom: 8px;
}

.custom-navbar {
  --td-navbar-bg-color: transparent !important;
  --td-navbar-color: rgba(255, 255, 255, 0.80);
}