/* pages/apply/index.wxss */
page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.scrollable {
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  padding-bottom: calc(env(safe-area-inset-bottom) + 70px);
}

.content-wrap {
  padding: 0 24px 60px;
}

.activity-info {
  color: rgba(0, 0, 0, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.cover {
  width: 115px;
  height: 97px;
  margin-right: 12px;
}

.activity-area {
  flex: 1;
  overflow: hidden;
}

.title {
  color: rgba(0, 0, 0, 0.90);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 6px;
}

.cell {
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.money {
  color: #4321F5;
  text-align: right;
  font-family: DIN Condensed;
  font-size: 22px;
  font-weight: 700;
}

.icon--wechat-pay {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.txt-gray {
  color: rgba(0, 0, 0, 0.55);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.icon--shield {
  width: 24px;
  height: 24px;
}

.insurance-wrap {
  margin-top: 14px;
  border-radius: 4px;
  background: #F7F7F7;
  padding: 16px;

  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; 

  .gray {
    color: rgba(0, 0, 0, 0.55);
  }
}

.intro-title {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 16px;
}

.intro-content {
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 8px;
}

.tool-bar {
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  bottom: 0;
  padding-top: 14px;
  padding-bottom: calc(env(safe-area-inset-bottom));
  background: linear-gradient(94deg, #FFF 0%, #F2F2F2 100%);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.18);

  color: #4321F5;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%; 

  .btn--manage {
    border-radius: 12px;
    background: #4321F5;
    width: 220px;
    height: 56px;
    color: #AFF164;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%; 
  }
}

.custom-popup {
  --td-popup-border-radius: 12px;
  --td-popup-bg-color: #fff !important;
}
