/* pages/profile/index.wxss */

page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.banner {
  position: relative;
  width: 100%;
  height: 245px;
  background: var(--bg-0, #EDEDED);

  color: rgba(0, 0, 0, 0.30);
  font-family: PingFang SC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */

  .avatar-wrap {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -48px);
  }

  .btn--add {
    width: 96px;
    height: 96px;
    border-radius: 96px;
    background: #F7F7F7;
  }
}

.banner-bg {
  width: 200px;
  height: 200px;
}

.custom-navbar {
  --td-navbar-bg-color: transparent;
  --td-navbar-color: rgba(0, 0, 0, 0.9);
}

.scrollable {
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: calc(env(safe-area-inset-bottom));
}

.title {
  margin: 16px 0;
  color: var(--glyph-0, rgba(0, 0, 0, 0.90));
  font-size: 20px;
  font-weight: 500;
  line-height: 140%; /* 28px */
}

.upload-wrap {
  position: relative;

  .custom-upload {
    --td-upload-add-bg-color: #F7F7F7;
    --td-upload-add-color:rgba(0, 0, 0, 0.30);
    --td-upload-add-icon-font-size: 28px;
  }

  .tips {
    position: absolute;
    top: 50%;
    left: 96px;
    transform: translate(0, -50%);
    color: rgba(0, 0, 0, 0.30);
    font-size: 16px;
    line-height: 140%; /* 22.4px */
  }
}

.form-field-wrap {
  margin: 0 24px 16px 24px;
}

.custom-input-field {
  --td-input-bg-color: #F7F7F7;
  --td-input-default-text-color: #000;
  border-radius: 8px !important;
}

.placeholder {
  color: rgba(0, 0, 0, 0.30);
  font-size: 16px;
  line-height: 140%; /* 22.4px */
}

.btn--modiry {
  width: 240px;
  height: 56px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.10);

  color: #FFF;
  font-family: PingFang SC;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
}