page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scrollable {
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  padding: 4px 8px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 56px);
  background-color: #fff;
}

.scroll-item {
  margin-bottom: 8px;
}

.selection {
  padding: 16px;
}

.btn {
  display: inline-flex;
  border-radius: 4px;
  background: #F7F7F7;
  padding: 2px var(--button-large-border-radius, 8px);
  margin-right: 9px;
  color: rgba(0, 0, 0, 0.55);
  line-height: 140%;

  &.active {
    color: #000;
    font-weight: 500;
  }
}

.custom-navbar {
  --td-navbar-bg-color: transparent !important;
  --td-navbar-color: rgba(0, 0, 0, 0.90);
}

.tip-1 {
  color: rgba(0, 0, 0, 0.55);
  font-size: 17px;
  font-weight: 400;
  line-height: 140%; 
}