/* components/member-list/index.wxss */
@import '../../style/common.less';

.scrollable {
  white-space: nowrap;
}

.wrap {
  display: flex;
  align-items: flex-start;
}

.item {
  display: inline-block;
  width: 52px;
  margin-right: 28px;
}

.avatar {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  background-color: #F7F7F7;
}

.nickname {
  margin-top: 7px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.90);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.identity {
  margin-top: 4px;
  border-radius: 3px;
  border: 0.5px solid #6CCEA2;
  padding: 1px 2px;
  color: #6CCEA2;
  font-size: 8px;
  font-weight: 400;
  line-height: normal;
}